.puff-in-tr {
    -webkit-animation: puff-in-tr 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-tr 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-tr {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-tr {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}